<div class="card col-6">
  <div class="card-header">
    <h1 class="card-title">Your DataHub</h1>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Driver ID:</td>
          <td>
            <%= @data_hub.drive_id %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Plan Type:</td>
          <td>
            <%= @data_hub.plan_type %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Storage Quota:</td>
          <td>
            <%= @data_hub.storage_quota %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Used Storage:</td>
          <td>
            <%= @data_hub.used_storage %>%
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Active:</td>
          <td>
            <%= @data_hub.status %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Region:</td>
          <td>
            <%= @data_hub.region %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Created At:</td>
          <td>
            <%= @data_hub.created_at.strftime('%D, %T') %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Modified At:</td>
          <td>
            <%= @data_hub.updated_at.strftime('%D, %T') %>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Files/Folders</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Name</th>
              <th>Owner</th>
              <th>Location</th>
              <th>File/Folder<th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @data_hub.data_objects.each do |data_object| %>
              <% file = data_object.file %>
              <tr>
                <td><h6><%= data_object.name.truncate(80) %></h6></td>
                <td>John Doe</td>
                <td>My DataHub</td>
                <td>
                  <% if file.representable? %>
                    <%= link_to rails_blob_path(file, disposition: "inline"), target: :_blank do %>
                      <%= image_tag file.representation(resize_to_limit: [100, 100]) %>
                    <% end %>
                  <% else %>  
                    <%= link_to rails_blob_path(file, disposition: "attachment"), target: :_blank do %>
                      <%#= image_tag "placeholder.png", alt: "Download file" %>
                      <%= file.filename %>
                    <% end %>
                  <% end %>  
                </td>
                <td>
                  <%= link_to rails_blob_path(file, disposition: "attachment") do %>
                    <h4><i class="bi bi-cloud-arrow-down-fill"></i></h4>
                  <% end %>
                  <%= link_to rename_file_path(@data_hub, data_object) do %>
                    <h4><i class="bi bi-pencil-square"></i></h4>
                  <% end %>
                  <%= link_to data_hub_file_upload_path(@data_hub, data_object), data: { turbo_method: :delete } do %>
                    <h4><i class="bi bi-trash-fill"></i></h4>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

