<div class="card col-6">
  <div class="card-header">
    <h1 class="card-title">Your DataHub</h1>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Driver ID:</td>
          <td>
            <%= @data_hub.drive_id %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Plan Type:</td>
          <td class="btn btn-sm btn-<%= plan_type_color(@data_hub.plan_type) %>">
            <%= @data_hub.plan_type %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Storage Quota:</td>
          <td>
            <%= @data_hub.storage_quota %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Used Storage:</td>
          <td>
            <%= @data_hub.used_storage %>%
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Active:</td>
          <td>
            <%= @data_hub.status %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Region:</td>
          <td>
            <%= @data_hub.region %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Created At:</td>
          <td>
            <%= @data_hub.created_at.strftime('%D, %T') %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Modified At:</td>
          <td>
            <%= @data_hub.updated_at.strftime('%D, %T') %>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
