<!DOCTYPE html>
<html>
  <head>
    <title>MediaVault</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <div class="sidebar">
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li>
                <p>
                  <% current_datahub = DataHub.first%>
                  <%= link_to new_data_hub_file_upload_path(current_datahub), class: 'btn btn-primary' do %>
                    <i class="bi bi-cloud-arrow-up-fill"></i>
                    Upload File
                  <% end %>
                </p>
              </li>
              </br>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-house-fill"></i>
                                        Home
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-hdd-fill"></i>
                                        Data Hubs
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-usb-symbol"></i>
                                        Connected Devices
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-share-fill"></i>
                                        Shared Data
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-clock-fill"></i>
                                        Recent
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-star-fill"></i>
                                        Starred
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-trash-fill"></i>
                                        Trash
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-database-fill"></i>
                                        Storage
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path, class: 'btn btn-primary' do %>
                                         <i class="bi bi-database-fill-up"></i>
                                         Increase Storage
                                       <% end %>
                                   </p>
                                  
              </li>
            </ul>
          </div>    
        </div>  
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <h1 class="text-center">Welcome to MediaVault</h1>
          <%= yield %>
          </div>    
        </section>  
      </div>  
    </div>  
  </body>
</html>
