<!DOCTYPE html>
<html>
  <head>
    <title>MediaVault</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <div class="sidebar">
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-house-fill"> Home </i>
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-hdd-fill"> Data Hubs </i>
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-usb-symbol"> Connected Devices </i>
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-share-fill"> Shared Data </i>
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-clock-fill"> Recent </i>
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-star-fill"> Starred </i>
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-trash-fill"> Trash </i>
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path do %>
                                        <i class="bi bi-database-fill"> Storage </i>
                                      <% end %>
                                   </p>
              </li>
              <li class="nav-item"><p><%= link_to root_path, class: 'btn btn-primary' do %>
                                         <i class="bi bi-database-fill-up"> Increase Storage </i>
                                       <% end %>
                                   </p>
                                  
              </li>
            </ul>
          </div>    
        </div>  
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Welcome to MediaVault</h1>
              </div>  
            </div>
          <%= yield %>
          </div>    
        </section>  
      </div>  
    </div>  
  </body>
</html>
